<script id="segment-template" type="text/x-jsrender">
    <div class="segment-container">
        <div class="title flex-row">
            <div>
                <h1>Segment</h1>
                <h2>{{: segment.meta.linkHash }}</h2>
            </div>
            <span class="flex"></span>
            <a href="#" class="close">&times;</a>
        </div>
        <div class="body flex-row">
            <div class="menu">
                <ul>
                    <li class={{: (segment.show( 'state') ? 'active ' : '') + 'nav-link' }} data-target="state">State</li>
                    <li class={{: (segment.show( 'link') ? 'active ' : '') + 'nav-link' }} data-target="link">Link</li>
                    <li class={{: (segment.show( 'evidence') ? 'active ' : '') + 'nav-link' }} data-target="evidence">Evidence</li>
                    <li class={{: (segment.show( 'json') ? 'active ' : '') + 'nav-link' }} data-target="json">JSON</li>
                </ul>
            </div>
            <div class="content flex-grow">
                {{if segment.show('state')}}
                <pre>{{:~json(segment.link.state)}}</pre> {{/if}} {{if segment.show('link')}}
                <div class="link">
                    <h4>Map ID</h4>
                    <p>{{: segment.link.meta.mapId}}</p>

                    <h4>Previous Link hash</h4>
                    <p>{{: segment.link.meta.prevLinkHash}}</p>

                    <h4>Type</h4>
                    <p>{{: segment.link.meta.type}}</p>

                    <h4>Action</h4>
                    <p>{{: segment.link.meta.action }}({{:~argsFmt(segment.link.meta.inputs)}})</p>
                </div>
                {{/if}} {{if segment.show('evidence')}} {{for segment.meta.evidences itemVar="~evidence"}}
                <div class="flex-row">
                    {{if ~evidence.backend == 'bcbatch' tmpl="#bitcoin-template" ~evidence=~evidence}} {{else ~evidence.backend == 'TMPop' tmpl="#tmpop-template"
                    ~evidence=~evidence}} {{else ~evidence.backend == 'dummy' tmpl="#dummy-template" ~evidence=~evidence}}
                    {{/if}} </div> {{/for}} {{/if}} {{if segment.show('json')}}
                <pre>{{:~json(segment)}}</pre> {{/if}}

            </div>
        </div>
</script>
